.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 0;
  padding: 8px 8px 12px 8px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.item.active {
  background-color: #dfdfdf;
}

.item label {
  flex: 1;
  cursor: pointer;
}

.item label span {
  margin: 0 0 0 12px;
  font-size: 16px;
  color: #666;
  line-height: 24px;
}

.item .delete {
  font-size: 14px;
  color: #fff;
  background-color: rgb(190, 0, 0);
  border: none;
  padding: 4px 10px;
  cursor: pointer;
}
