.footer {
  padding: 10px 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer input[type="checkbox"] {
  margin: 0 12px 0 8px;
}

.footer > label {
  flex: 1;
}

.footer > label span {
  font-size: 16px;
  color: #666;
}

.footer > label span i {
  font-style: normal;
  margin: 0 4px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
}

.footer .clear-all {
  font-size: 14px;
  padding: 4px 10px;
  border: none;
  background-color: rgb(190, 0, 0);
  color: #fff;
}
